@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply font-open-sans;
}

html, body {
  @apply text-white bg-neutral-900 overflow-x-hidden;
}

body{
  @apply overflow-x-hidden;
}

.wellcome-section {
  @apply flex min-h-screen items-center justify-center flex-wrap z-10;
}

.about-section {
  @apply flex flex-col w-full pb-28 justify-center items-center px-8 lg:px-14;
}

.skills-section {
  @apply flex items-start justify-center pb-8;
}

.projects-section {
  @apply flex flex-col min-h-screen items-center justify-center flex-wrap pb-8;
}

.my-header {
  @apply flex items-center justify-between px-4 md:px-16 fixed top-0 w-full transition-all;
}

.header-icon {
  @apply bg-header-icon-bg p-2 border border-white rounded-full hover:border-violet-700 transition-colors hover:bg-header-icon-bg-hover;
}

.mobile-nav {
  @apply backdrop-blur-2xl bg-nav-bg flex flex-col lg:hidden w-2/3 md:w-2/5 min-h-screen fixed transition-all;
}

.mobile-nav .link {
  @apply flex h-16 justify-center items-center border-b border-zinc-700 text-white;
}

.mobile-nav a {
  @apply select-none;
}

.mobile-nav .last {
  @apply border-b border-zinc-700;
}

.challenge{
  background: linear-gradient(
    rgba(255,255,255,0.1),
    rgba(0,0,0,1)
  );
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* CUSTOM SCROLL BAR*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  @apply bg-neutral-900
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-800;
}

.background-animate {
  background-size: 200%;
  animation: 20s linear infinite alternate;
  animation-name: BGAnimate;
}

@keyframes BGAnimate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
